name: Node.js CI
on:
  workflow_dispatch:
        inputs:
          environment:
            description: 'Environment to deploy'
            required: true
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
jobs:
  test:
    runs-on: ubuntu-latest
    outputs:
     test-output: ${{steps.test-result.outputs.test-run}}
    steps:
     - name: checkout code
       uses: actions/checkout@v4

     - name: install dependencies
       uses: actions/setup-node@v3
       with:
        node-version: '22.17.1'
        cache: 'npm'
     - run: npm ci

     - name: test
       run: npm test
     
     - name: step output
       id: test-result
       run: echo "test-run=vitest" >> "$GITHUB_OUTPUT" 

     - name: upload artifact
       uses: actions/upload-artifact@v4
       with:
        name: coverage-report
        path: coverage/coverage-summary.json

     - name: get step output
       run: echo "${{steps.test-result.outputs.test-run}}"
  build:
    needs: ['test']
    runs-on: ubuntu-latest
    steps:
     - name: checkout code
       uses: actions/checkout@v4

     - name: install dependencies
       uses: actions/setup-node@v3
       with:
        node-version: '22.17.1'
        cache: 'npm'
     - run: npm ci

     - name: build
       run: npm run build 

     - name: get job output
       run: echo "${{needs.test.outputs.test-output}}"

  deploy:
      needs: ['test']
      uses: './.github/workflows/deploy.yml'
      with:
        art-name: coverage-report 
  
  metrics:
    needs: ['deploy']
    runs-on: ubuntu-latest
    steps:
      - name: get output value from reusable workflow
        run: ${{needs.deploy.outputs.download-result}}
