name: Node.js CI
on:
  workflow_dispatch:
        inputs:
          environment:
            description: 'Environment to deploy'
            required: true
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
     - name: checkout code
       uses: actions/checkout@v4

     - name: install dependencies
       uses: actions/setup-node@v3
       with:
        node-version: '22.17.1'
        cache: 'npm'
     - run: npm ci

