name: Node.js CI
on:
  workflow_dispatch:
        inputs:
          environment:
            description: 'Environment to deploy'
            required: true
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
