# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  workflow_dispatch:
        inputs:
          environment:
            description: 'Environment to deploy'
            required: true
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
     step:
     - name: checkout code
     - uses: actions/checkout@v4
     - name: install dependencies
       uses: actions/setup-node@v4
       with:
        node-version: 22.17.1
        cache: 'npm'
     - run: npm ci
     step:
      - name: build
      - run: npm run build --if-present
     step:
      - name: test
      - run: npm test
